:root {
  --color-primary: #0aa;
  --color-secondary: #aca;
}

::selection {
  background: hsla(180, 100%, 33%, 0.5);
}

a {
  outline-color: var(--color-secondary);
}

.nav-link {
  padding: 6px;
  opacity: 0.5;
  transition: opacity 0.2s ease;
}

.nav-link:hover,
.nav-link:focus {
  opacity: 1;
}

.menu-link {
  padding: 8px;
}
