/**
 * General.
 */

:root {
  --color-primary: #0aa;
  --color-secondary: #aca;
  --color-tertiary: #555;
  --color-teal: #319795;
  --color-green: #48bb78;
  --color-blue: #4299e1;
}

::selection {
  background: hsla(180, 100%, 33%, 0.5);
}

html,
body {
  font-family: sans-serif;
}

a {
  outline-color: var(--color-secondary);
}

p code {
  font-size: 0.8em;
}

/**
 * TabList
 */

.tab-list {
  -ms-overflow-style: none; /* IE10+ */
  scrollbar-width: none; /* Firefox */
}

.tab-list::-webkit-scrollbar {
  display: none; /* Safari and Chrome */
}

/**
 * NextImage container.
 */

.next-image-container > div {
  display: block !important;
}

.next-image-screenshot-container > div {
  display: block !important;
}

.next-image-screenshot-container img {
  border-radius: 0.375rem;
}

.next-image-cover-container > div {
  display: block !important;
  border-bottom-left-radius: 0.375rem;
  border-bottom-right-radius: 0.375rem;
}

.next-image-cover-container {
  overflow: auto;
  -ms-overflow-style: none; /* IE10+ */
  scrollbar-width: none; /* Firefox */
}

.next-image-cover-container::-webkit-scrollbar {
  display: none; /* Safari and Chrome */
}

/**
 * Chakra UI components.
 * Because the export components with theme defaultProps doesn't work.
 */

.chakra-form__label {
  margin-bottom: 0 !important;
}

.chakra-form__helper-text {
  line-height: 21px !important;
}
